.check-on-image{
    position: absolute;
    top: 5px;
    right: 40px;
    color:darkgreen;
}

.trash-on-image{
    position: absolute;
    top: 5px;
    right:20px;
    color: red;
}

.margin-body{
    margin-bottom: 15px;
}
